.exp-cat {
  font-size: 13px;
}

input.exp-amount {
  max-width: 128px;
}

select.exp-currencies {
  max-width: 66px;
}

.expenses .detailForm {
  border-bottom: 1px solid #e4e7eb;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.expenses .detailForm .form-control {
  width: auto;
  display: inline;
  padding: 6px;
}

.expenses .detailForm button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .expenses .detailForm {
    border-bottom: 1px solid #e4e7eb;
    margin-bottom: 15px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
  }
  .expenses .detailForm button {
    margin-top: 0px;
  }
}
