.form-container {
  margin-top: 10px;
}

.form-newticket {
  box-shadow: 2px 2px 4px 2px #9aa5b1;
  background-color: #e4e7eb;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.label-form {
  background-color: #f5f7fa;
  border-top: 3px solid #1f2933;
  text-transform: uppercase;
  text-align: center;
  color: #323f4b;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
