.label-ticket {
  background-color: #323f4b;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.label-ticket:hover {
  color: #cbd2d9;
}

.table {
  box-shadow: 1px 1px 2px 1px #9aa5b1;
  background-color: #e4e7eb;
}

.label-ticket.desire {
  background-color: #cbd2d9;
  border-top: 3px solid #7b8794;
  color: #323f4b;
}
.label-ticket.planned {
  background-color: #fff3c4;
  border-top: 3px solid #f0b429;
  color: #de911d;
}
.label-ticket.current {
  background-color: #effcf6;
  border-top: 3px solid #199473;
  color: #0c6b58;
}
.label-ticket.finished {
  background-color: #e3f8ff;
  border-top: 3px solid #40c3f7;
  color: #127fbf;
}

@media (min-width: 768px) {
  .travelsList{
    max-height: 70vh;
    padding-top:5px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .travelsList::-webkit-scrollbar { 
    display: none; 
  } 
}