.label-ticket {
  background-color: #323f4b;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
}

.label-ticket:hover {
  color: #cbd2d9;
}

.table {
  box-shadow: 2px 2px 4px 2px #9aa5b1;
  background-color: #e4e7eb;
}

.label-ticket.desire {
  background-color: #3e4c59;
}
.label-ticket.planned {
  background-color: #f7c948;
}
.label-ticket.current {
  background-color: #0c6b58;
}
.label-ticket.finished {
  background-color: #2bb0ed;
}
