.detail {
  background-color: #e4e7eb;
  padding-right: 0px;
  padding-left: 0px;
}

.expensesListe {
  max-width: 300px;
  overflow-x: scroll;
}

.detail .ticket ul {
  padding: 0;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
}

.detail .ticket ul li {
  padding: 4px;
}

.detail .ticket .total {
  font-weight: 500;
}

.table-total {
  margin-top: 10px;
}

i.category {
  width: 20px;
}
