.ticket {
  margin-bottom: 15px;
  background: #f5f7fa;
  border-color: #7b8794;
  padding-bottom: 10px;
  box-shadow: 2px 2px 4px 2px #9aa5b1;
}

.ticket > div {
  padding: 15px 5px 10px 5px;
}

.ticket.forecasts,
.ticket.expenses {
  text-align: left;
}

.ticket.desire {
  border-color: #7b8794;
}

.ticket.planned {
  border-color: #f0b429;
}

.ticket.current {
  border-color: #199473;
}

.ticket.finished {
  border-color: #40c3f7;
}

.ticket a.close {
  margin-top: -16px;
  margin-right: -10px;
  color: #f5f7fa;
  opacity: 1;
  font-size: 18px;
  text-shadow: none;
}
.ticket a.close:hover {
  color: #cbd2d9;
}

.title-ticket.desire {
  color: #323f4b;
}

.title-ticket.planned {
  color: #de911d;
}

.title-ticket.current {
  color: #0c6b58;
}

.title-ticket.finished {
  color: #127fbf;
}

.title-ticket {
  font-size: 20px;
  font-weight: 400;
  color: #1f2933;
}

.title-ticket-small {
  margin-top: -18px;
  text-align: left;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  display: block;
  cursor: pointer;
}
.title-ticket-small:hover {
  color: #cbd2d9;
}

.title-ticket-small button {
  background: transparent;
  border: none;
  width: 50%;
  text-align: left;
}
.button-show {
  background: transparent;
  border: none;
  font-size: 14px;
  float: left;
  color: #f5f7fa;
  margin-top: -30px;
  width: 100%;
  text-align: left;
}

.ticket button.button-show:hover {
  opacity: 0.7;
}

.rating {
  margin-top: 10px;
  font-size: 25px;
  color: #cbd2d9;
}

.rating i:hover {
  cursor: pointer;
}

.theme-grin-stars.active,
.theme-grin-stars:hover {
  color: #65d6ad;
}

.theme-grin-alt.active,
.theme-grin-alt:hover {
  color: #199473;
}

.theme-smile.active,
.theme-smile:hover {
  color: #014d40;
}

.theme-meh.active,
.theme-meh:hover {
  color: #1f2933;
}

.theme-frown.active,
.theme-frown:hover {
  color: #cb6e17;
}

.theme-angry.active,
.theme-angry:hover {
  color: #8a041a;
}

.desire .actionIcon {
  background-color: #cbd2d9;
  color: #323f4b;
}
.desire .actionIcon span.action-icon {
  color: #323f4b;
  margin-left: 0px;
}
.desire .actionIcon span.action-icon:hover {
  color: #1f2933;
}

.planned .actionIcon {
  background-color: #fff3c4;
  color: #de911d;
}
.planned .actionIcon span.action-icon {
  color: #de911d;
  margin-left: 0px;
}
.planned .actionIcon span.action-icon:hover {
  color: #b44d12;
}

.current .actionIcon {
  background-color: #effcf6;
  color: #0c6b58;
}
.current .actionIcon span.action-icon {
  color: #0c6b58;
  margin-left: 0px;
}
.current .actionIcon span.action-icon:hover {
  color: #014d40;
}

.finished .actionIcon {
  background-color: #e3f8ff;
}
.finished .actionIcon span.action-icon {
  color: #127fbf;
  margin-left: 0px;
}
.finished .actionIcon span.action-icon:hover {
  color: #0b69a3;
}

.actionIcon {
  position: absolute;
  width: 30px;
  right: 0px;
  top: 0;
  height: 100%;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.transportIcon {
  float: right;
  position: absolute;
  bottom: -15px;
  right: -13px;
  color: #9aa5b1;
}

.transportIcon .iconOutside {
  text-shadow: 4px 5px 4px #9aa5b1;
}

.ratingIcon {
  float: right;
  position: absolute;
  top: -5px;
  left: -13px;
  color: #f5f7fa;
}
.ratingIcon .iconInside {
  font-size: 23px;
  line-height: 30px;
}
.ratingIcon .iconOutside {
  font-size: 30px;
  color: #40c3f7;
}

.iconTransport {
  font-size: 15px;
  float: right;
  margin-right: 25px;
  line-height: inherit;
  color: #9aa5b1;
}

.editTicketForm {
  padding-top: 15px;
}
/*
.desire .iconTransport {
  color: #7b8794;
}

.planned .iconTransport {
  color: #f0b429;
}

.current .iconTransport {
  color: #199473;
}

.finished .iconTransport {
  color: #40c3f7;
}*/

/*
.colorfinished {
  color: #40c3f7;
}

.colorplanned {
  color: #fce588;
}

.colorcurrent {
  color: #0c6b58;
}

.colordesire {
  color: #7b8794;
}*/
