.detail {
  background-color: #f5f7fa;
  padding-right: 0px;
  padding-left: 0px;
}

.details {
  padding: 15px 20px;
}

.expensesListe {
  max-width: 300px;
  overflow-x: scroll;
}

.detail .details ul {
  padding: 0;
  list-style: none;
  margin-left: -15px;
  margin-right: -15px;
}

.detail .details ul li {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.detail .details .total {
  font-weight: 500;
}

.table-total {
  margin-top: 10px;
}

i.category {
  width: 20px;
}

.detailForm {
  border-top: 1px solid #e4e7eb;
  margin-top: 15px;
  padding-top: 15px;
}

.nav-stacked > li.tab-detail + li.tab-detail {
  margin-top: 0px;
  margin-left: 0;
}

.nav-pills > li.tab-detail.active > a,
.nav-pills > li.tab-detail > a:hover,
.nav-pills > li.active.tab-detail > a:hover,
.nav-pills > li.active.tab-detail > a:focus {
  border-radius: 0px;
  border-left: 3px solid #323f4b;
  color: #323f4b;
  background-color: transparent;
}

.nav > li.tab-detail > a:focus,
.nav-pills > li.tab-detail > a {
  border-radius: 0px;
  color: #323f4b;
  background-color: transparent;
  border-left: 3px solid transparent;
}

.toDoListBL,
.myLuggage,
.forecasts {
  padding-top: 15px;
}

.toDoListBL li,
.myLuggage li,
.forecasts li {
  cursor: pointer;
}
.toDoListBL li.done,
.myLuggage li.done,
.forecasts li.done {
  text-decoration: line-through;
  color: #9aa5b1;
}

.detail a.close {
  opacity: 1;
  font-size: 18px;
  text-shadow: none;
}

.detail .container {
  padding-left: 0;
}

.forecast-title {
  width: 70%;
}

.travel-step {
  border-bottom: 1px inset #cbd2d9;
  padding: 10px 0px;
}
.travel-step:last-of-type {
  border-bottom: none;
  padding: 10px 0px;
}

#formTravelogue {
  margin-top: 10px;
  border-top: 1px solid #cbd2d9;
  padding-right: 15px;
}

.travel-step:last-child {
  margin-bottom: 10px;
}

.step-resume {
  white-space: pre-line;
}

.steps {
  max-height: 450px;
  overflow-y: scroll;
}
