.ticket {
  margin-bottom: 5px;
  background: #e4e7eb;
  border-radius: 8px;
  text-align: center;
}

.ticket.desire {
  border: 2px #7b8794 solid;
}

.ticket.planned {
  border: 2px #fce588 solid;
}

.ticket.current {
  border: 2px #0c6b58 solid;
}

.ticket.finished {
  border: 2px #40c3f7 solid;
}

span.action-icon:hover {
  cursor: pointer;
  color: #616e7c;
}

.rating {
  margin-top: 10px;
  font-size: 25px;
  color: #9aa5b1;
}

.rating i:hover {
  cursor: pointer;
}

.fa-grin-stars.rating-selected,
.rating i.fa-grin-stars:hover {
  color: #65d6ad;
}

.fa-grin-alt.rating-selected,
.rating i.fa-grin-alt:hover {
  color: #199473;
}

.fa-smile.rating-selected,
.rating i.fa-smile:hover {
  color: #014d40;
}

.fa-meh.rating-selected,
.rating i.fa-meh:hover {
  color: #1f2933;
}

.fa-frown.rating-selected,
.rating i.fa-frown:hover {
  color: #cb6e17;
}

.fa-angry.rating-selected,
.rating i.fa-angry:hover {
  color: #8a041a;
}
